@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
/* Common CSS */

.navigation_part {
  background: #675d5b;
}
.container {
  max-width: 85%;
  margin: 0 auto;
}
.nav_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.logo img {
  width: 300px;
}
.nav {
  display: flex;
  gap: 16px;
}
.nav li a {
  color: #f8f8f8;
}

/* Navigation CSS */
.hero_part {
  background: url(./bg.jpg) no-repeat center;
  background-size: cover;
  padding: 70px 0 0;
}
.hero_con_main {
  display: flex;
  align-items: center;
}
.hero_con,
.hero_img {
  width: 50%;
}
.hero_img img {
  display: block;
  margin: auto;
  width: 350px;
}
.hero_con h1 {
  text-transform: capitalize;
  font-size: 80px;
}
.social_icon {
  display: flex;
  padding: 15px 0;
  column-gap: 16px;
}
.social_icon li a {
  font-size: 18px;
  color: #000;
}
.hero_btn a {
  display: block;
  height: 45px;
  width: 220px;
  background: #f2d5cf;
  border: 1px solid #fb6e52;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
}

/* Customer Part Start */
.customer_part {
  background: #f2d5cf;
  padding: 60px 0;
}
.custom_head {
  text-align: center;
  padding-bottom: 20px;
}
.custom_head h2 {
  font-size: 36px;
}
.customer_con_main {
  display: flex;
  gap: 24px;
  width: 100%;
}
.custom_con {
  background: #f1f1f1;
  width: 25%;
  padding: 15px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.custom_con h3 {
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 900;
  background: linear-gradient(#faae7b, #cc8b79, #9f6976);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Aboout Part Start */
.about_part {
  padding: 60px 0;
}
.about_con_main {
  display: flex;
  align-items: center;
  gap: 24px;
}
.about_img,
.about_con {
  width: 50%;
}
.about_img img {
  width: 100%;
}
.about_con h3 {
  font-size: 26px;
}
.about_con p {
  font-size: 18px;
  line-height: 1.5;
  padding: 8px 0;
}
.about_btn {
  height: 50px;
  width: 250px;
  background: linear-gradient(#9f6976, #cc8b79, #faae7b);
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #000;
}
/* Aboout Part End */

/* Servie Part Start */
.service_part {
  padding: 60px 0;
  background: #f2d5cf;
}
.service_head {
  text-align: center;
  padding-bottom: 30px;
}
.service_head h3 {
  font-size: 26px;
}
.service_con_main {
  display: flex;
  gap: 24px;
}
.service_con {
  padding: 15px;
  text-align: center;
  background: #fff;
  transition: 0.4s;
}
.service_icon {
  height: 50px;
  width: 50px;
  background: linear-gradient(45deg, #9f6976, #cc8b79, #faae7b);
  text-align: center;
  margin: 0 auto;
  line-height: 50px;
  font-size: 26px;
  margin-bottom: 10px;
}
.service_con:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.service_btn {
  height: 40px;
  width: 180px;
  background: #edaa79;
  margin: auto;
  display: block;
  margin-top: 5px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
}
/* Servie Part End */

/* Company Logo Part Start */
.company_part {
  padding: 60px 0;
}
.company_logo_main {
  display: flex;
  gap: 24px;
}
.logo img {
  width: 100%;
}
/* Company Logo Part End */

/* Footer Part STart */
.footer_part {
  padding: 15px 0;
  background: #f2d5cf;
  text-align: center;
}
/* Footer Part End */
